aside{
  background-color: #377fdd;
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
  border-radius: 5px;
  padding: 5px ;
}
button {
  background-color: #377fdd; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
